<section class="big-background">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=y9Wy9eJ72xo',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}"></a>

  <div class="pattern"></div>
  <div class="big-background-container">
    <h1 class="big-background-title">GROUPORN</h1>
    <div class="divider"></div>
    <h1 id="colorize">GET YOUR PROMO HERE</h1>
    <a href="http://designmodo.com/video-background-website/" class="big-background-btn">REGISTER</a>
  </div>
</section>



<div class="wrapper">

  <section class="about-section">

    <div class="about-section-container">
      <h2 class="about-section-title">GROUPORN</h2>
      <p>WANT TO GET PROMO FOR PARTIES? <br/>GROUPORN IS THE PLATFORM WHERE YOU CAN FIND THE BEST PROMOS. <br/></p>
      <a href="#" target="_blank" class="about-section-btn">START NOW!</a>
    </div>

  </section>


  <section class="small-background-section">
    <div class="pattern"></div>
    <div class="small-background-container">
      <h2 class="small-background-title"><span>Find us on social media</span></h2>
      <ul class="socials">
        <li><a href="#" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a></li>

      </ul>
    </div>
  </section>