<section class="big-background">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=y9Wy9eJ72xo',containment:'body',autoPlay:false, mute:true, startAt:0, opacity:1}"></a>

  <div class="pattern"></div>
  <div class="big-background-container">
    <h1 class="big-background-title">GROUPORN</h1>
    <div class="divider"></div>
    <h1 id="colorize">GET YOUR PROMO HERE</h1>
    <a href="#" class="big-background-btn" data-toggle="modal" data-target="#modal_contenido">REGISTER</a>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "big-background-btn" %>
    <div class="wrapper">

    </div>
  </div>
</section>
